@{
    ViewBag.Title = "Home Page";    
}

<div class="jumbotron">
    <h1>Web Service</h1>
    <p class="lead">
        Web Service is a solution used in systems integration and communication between different applications. With this technology it is possible that new applications can interact with those that already exist and that systems developed on platforms are compatible.</p>
    </p>    
</div>

<div class="row">
    <div class="col-lg-11">
        <h2>Data retrieved from Service</h2>
        <div id="data">

        </div>
    </div>
</div>